
<div style="margin-top: -105px">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi-hdd-fill"></i>
            <h3>Back-end</h3>
            <p>
                Back-end Texto
            </p>

            <p class="text-primary cabecera">
                Stack:
            </p>

            <p>
                Texto1, Texto2, Texto3
            </p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>

            <ul>
                <li>Tec1</li>
                <li>Tec2</li>
                <li>Tec3</li>
                <li>Tec4</li>
                <li>Tec5</li>
            </ul>
        </div>

        <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi-code-slash"></i>
            <h3>Front-End</h3>

            <p>
                Front-End Texto
            </p>

            <p class="text-primary cabecera">
                Stack:
            </p>

            <p>
                Texto1, Texto2, Texto3
            </p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>

            <ul>
                <li>Tec1</li>
                <li>Tec2</li>
                <li>Tec3</li>
                <li>Tec4</li>
                <li>Tec5</li>
            </ul>
        </div>
    </div>
</div>