
<div class="text-center">

    <h1 class="display-4">Soy Felipe León (21) </h1>  <!-- arroba sirve para usar codigo c# -->

    <h2>Estudiante de tercer año de Ingeniería Civil en Informática</h2>

    <img id="foto" src="~/imagenes/UPU.png" alt="Foto de Felipe" />
</div>

<div class="text-center">
    <img id="imagen-dotnet" src="~/imagenes/dotnet-imagen-2.png" alt=".Net" />
</div>


<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            LOCURA LOCURA LOCURA LOCURALOCURA LOCURALOCURA LOCURALOCURA LOCURA LOCURA LOCURALOCURA LOCURALOCURA LOCURALOCURA LOCURALOCURA LOCURALOCURA LOCURA
        </p>
    </div>
</div>
